<p class="first-par">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    text ever since type specimen book !!</p>
<section class="our-info">
    <div class="block-info">
        <div class="circle"><i class="icon-camera"></i></div>
        <div class="block-info-img block-info-img-one"></div>
        <h3>what we are</h3>
        <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
    </div>
    <div class="block-info">
        <div class="circle"><i class="icon-pencil-square-o change-ico"></i></div>
        <div class="block-info-img block-info-img-two"></div>
        <h3>start our project</h3>
        <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
    </div>
    <div class="block-info">
        <div class="circle"><i class="icon-shopping-cart change-ico"></i></div>
        <div class="block-info-img block-info-img-three"></div>
        <h3>our team</h3>
        <p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
    </div>
</section>

<div class="middle-line"><i class="icon-check-circle"></i></div>
<h2 id="ourFeatures" class="title-section">our <span>features</span></h2>
<div id="ourFeaturesContent" class="all-content">
    <section id="devices" class="devices-section">
        <div class="img-devices"></div>
        <div class="block-info-section">
            <h3 class="title-block-devices">Lorem Ipsum is simply !!</h3>
            <p class="par-block-devices">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
                use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                All the Lorem Ipsum generators.
            </p>
            <button class="transparent-buton">read more</button>
        </div>
    </section>

    <section id="camera" class="cameras-section">
        <div class="block-info-section">
            <h3 class="title-block-devices">A flat Camera</h3>
            <p class="par-block-devices">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
                use a passage of Lorem chunks as necessary, making this the first true generator on the Internet. It uses a dictionary
                of over 200 Latin words,
            </p>
            <button class="transparent-buton">read more</button>
        </div>
        <div class="img-cameras"></div>
    </section>
</div>

<div class="middle-line"><i class="icon-trophy"></i></div>
<h2 id="latestProjects" class="title-section">our latest <span>projects</span></h2>

<section id="lastProjectSection" class="last-project-section">
    <h3 class="sub-title-section">Lorem Ih3sum is simply dummy text the printing and typesetting.</h3>
    <div class="container-last-project">
        <div class="content-block-slide">
            <div class="last-project-1-img"></div>
            <h1>Lorem Ipsum</h1>
            <h2>Photography</h2>
        </div>
    </div>
    <div class="container-last-project">
        <div class="content-block-slide">
            <div class="last-project-2-img"></div>
            <h1>Bonorum et Malorum</h1>
            <h2>Print Designing</h2>
        </div>
    </div>
    <div class="container-last-project">
        <div class="content-block-slide">
            <div class="last-project-3-img"></div>
            <h1>Injected humour</h1>
            <h2>E-marketing</h2>
        </div>
    </div>
    <div class="container-last-project">
        <div class="content-block-slide">
            <div class="last-project-4-img"></div>
            <h1>Embarrassing</h1>
            <h2>Best Marketplace</h2>
        </div>
    </div>

</section>

<div class="middle-line commenting"><i class="icon-commenting"></i></div>
<h2 id="clientTestimonials" class="title-section testimonials-title">client <span>testimonials</span></h2>
<article id="sectionClientTestimonials" class="testimonials-slider">
    <p class="testimonials-subpar">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since type specimen book !!</p>
    <p id="testimonialName" class="testimonials-data">Robart Markel <span id="testimonialCompany">, Company Name</span></p>
    <ul class="action-slider">
        <li class="active-slide">
            <li>
                <li>
                    <li>
                        <li>
    </ul>
</article>