/*'desktop-fhd': (max-width: 1920px),
  'desktop': (max-width: 1366px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'isdesktop': (min-width: 1024px),
  'ismobile': (max-width: 1024px),
  'iphone': (max-width: 980px)*/

$ismobile: 1024px;

  @media (min-width: 1500px) {
      /*para cuando supera al ancho*/
      header .bg-header {
        width: 100%; background-size: contain;
      }
  }

  @media (max-width: $ismobile) {
    .wrapper, wrapper { padding: 0 20px; }
    .last-project-section {
     /* @include center(80%);*/
      .container-last-project {
        @include span(1/2);
        .content-block-slide { margin: 0 auto; }
      }
    }
  }