/*'desktop-fhd': (max-width: 1920px),
  'desktop': (max-width: 1366px),
  'ipad': (min-width: 1023px, max-width: 1024px),
  'isdesktop': (min-width: 1024px),
  'ismobile': (max-width: 1024px),
  'iphone': (max-width: 980px)*/

$ismobile: 1024px;
$isPhone: 640px;

@media (min-width: 1500px) {
	/*para cuando supera al ancho*/
  	header {
		.bg-header { width: 100%; background-size: contain; }
		i { 
			left: 25px; font-size: toem(25px);
			&:last-of-type { right: 25px; }
		}
	}
}

@media (max-width: $ismobile) {
	header .header-slide { width: 82%; }
  	.wrapper, wrapper { padding: 0 25px; }
  	.last-project-section {
      .container-last-project {
        @include span(1/2);
        &:nth-child(4) .content-block-slide { margin-bottom: 0; }
        &:nth-child(5) .content-block-slide { margin-bottom: 0; }   
        .content-block-slide { 
          margin: 0 auto; margin-bottom: 40px;
        }
      }
  	}
  	footer .grid-nav section {
      @include col(1/2, $cycle: 2, $gutter: 5 );
      padding-bottom: 40px;
      &:nth-child(3), &:nth-child(4) { padding-bottom: 0; }
  	}
}


/*---------------------------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 641px) {
	nav.nav-stacked { background: rgba(0,0,0,.5); }
}


@media (max-width: $isPhone) {
	nav {
		background: #273a43; border: none; position: fixed; width: 100%; z-index: 100;
		&.wrapper { padding: 13px 25px; overflow: auto; }
		.logo { line-height: 1; float: right; margin: 0; padding: 13px 0; }
		ul.menu-desktop { display: none; }
		.bt-menu { display: block; }
	}
	header {
		top: 56px;
		.bg-header { background-size: cover; width: 100%; top: 56px; height: 237px; }
		
		.header-slide {
			height: 237px; top: 0; width: 100%;
			.change-info-slide {
				width: 85%; margin: 0 auto;
				.mask-container { 
					@include vertical-align();
					height: auto;
					.vertical-center-content {
						position: initial; top: 0; transform: none;
						h1 { font-size: toem(27px); margin-bottom: 10px; font-weight: 100; }
						h2 { font-size: toem(16px); }
					}
					button { position: initial; left: initial; right: initial; transform: none; margin-top: 35px; font-size: 16px;
    					padding: 10px 20px; 
					}
				}
			}
				
	  		.points-slide { display: none; }
			i { 
				left: 25px; font-size: 25px;
				&:last-of-type { right: 25px; }
			}
		}	
	}

	.main-section.scrollable { top: 297px; }

	main .first-par { font-size: 15px; max-width: 535px; margin: 0 auto; margin-top: 30px; padding: 0; margin-bottom: 10px; }

	section.our-info { margin-bottom: 20px; }

	.all-content { 
		overflow: hidden; max-height: 0; transition: all .3s ease-out; opacity: 0;
		&.is-visible { max-height: 675px; opacity: 1; }
	}

	.middle-line {
		margin: 0; position: relative; z-index: 1; font-size: 28px;
		[class^="icon-"] {  border-radius: 50%; background: white; height: 40px; width: 42px; display: block; margin: 0 auto; line-height: 1.4; }
		&:before, &:after { border: none; }
	}

	.title-section { background: #71b6d5; padding-top: 30px; padding-bottom: 10px; position: relative; top: -22px;
    	z-index: 0; margin-bottom: 0; }


  
	.our-info .block-info { 
	  	max-width: 324px; width: 100%; margin: 0 auto; margin-bottom: 50px; float: none; 
	  	&:last-child { margin: 0 auto; }
	}

	.devices-section, .cameras-section {
		div {
		  	&.block-info-section { display: block; margin: 0 auto; padding: 0; }
		  	&.img-cameras, &.img-devices { display: none; }
		}
	}
	.last-project-section {
		overflow: hidden; max-height: 0; transition: max-height .4s ease, opacity .6s ease-in-out; opacity: 0;
		&.is-visible { max-height: 1600px; opacity: 1; }
		.container-last-project {
			@include span(1/1);
			.content-block-slide { 
				margin: 0 auto; margin-bottom: 40px;
			}
			&:nth-child(4) .content-block-slide { margin-bottom: 40px; }
			&:nth-child(5) .content-block-slide { margin-bottom: 0; }
		}
	}
	.middle-line.commenting { margin: 0; }
	.testimonials-slider {
		overflow: hidden;  max-height: 0px; opacity: 0; transition: all .3s ease-out; margin-bottom: 18px;
		&.is-visible { opacity: 1; max-height: 350px; }
		.testimonials-subpar { padding: 0; font-size: toem(13.5px); }
	}
	footer .grid-nav {
	  	padding-top: 40px;
	  	section {
			display: block; float: none; width: 100%; text-align: center; float: none; padding: 0;
			p { display: none; }
			&.web h1 { margin-bottom: 40px; line-height: 1; }
			&.contact {
		  		h1 { display: none; }
		  		.list-links {
					display: table; width: 100%;
					li { 
			  			display: table-cell; font-size: 14px; 
			  			i { position: relative; top: 3px; }
					}
		  		}
			}
			&.latest-tweets { display: none; }
			&.news-latter { 
		  		margin-top: 40px; table-layout: fixed;
				h1, p, form { display: table-cell; vertical-align: middle; }
				h1 { font-size: 20px; }
				p { font-size: 13px; width: 35%; text-align: left; padding: 0 22px; }
				form {
					input { float: left; }
					[type='text'] { border-radius: 5px 0 0 5px; }
					[type='submit'] { border-radius: 0 5px 5px 0; }
				}
			}
	  	}
	}
	

/*---------------------------------------------------------------------------------------------------------------------------------------*/
}


@media (max-width: 510px) {          
	footer {
		.grid-nav {
			section {
		  		&.contact .list-links {
					display: block;
					li { 
						width: 100%; display: block;
						i { width: 100%; }
						&:first-of-type { margin: 0; }
						span { padding-left: 0; }
					}
		  		}
		  		&.news-latter {
					h1, p, form { display: block; }
					h1 { float: left; width: 30%; }
					p { float: right; width: 70%;}
					form { clear: both; margin-top: 5px;}
				}
			}	
		}
		.social-links .wrapper ul {
			margin-top: 20px;
		}
	} 
}