footer {
    .grid-nav { 
        p { line-height: 20px; }
        overflow: auto; background: #273a43; padding: 60px 0;

        section { 
            @include col(1/4, $cycle: 4, $gutter: 5 ); 
            h1 { font-size: 22px; color: #ffffff; font-weight: 600; margin-bottom: 30px; }
            p { color: #c3c3c3; font-size: 14px; }
            &.web {
                h1 { font-size: 22px; font-family: 'Pacifico'; text-transform: capitalize; font-weight: 100; }
            }
            &.contact { 
                .list-links li { 
                    margin-top: 20px;
                    i { color: $main-bg-color; font-size: 20px; width: 20px; display: inline-block; text-align: center; }
                    span { padding-left: 10px; color: white; }
                }
            }
            &.latest-tweets {
                .list-tweets {
                    display: table; margin-bottom: 35px;
                    i, p { display: table-cell; vertical-align: top; }
                    i { font-size: 20px; color: $main-bg-color; }
                    p { padding-left: 15px; }
                    span { display: block; margin-top: 10px; color: $main-bg-color; } 
                }
            }
            &.news-latter {
                form { 
                    display: table; margin-top: 15px; table-layout: fixed; border-radius: 5px; overflow: hidden;
                    input { display: table-cell; border: none; }
                    [type='text'] { padding: 10px; width: 80%; background: #172227; color: #a7a7a7; }
                    [type='submit'] { text-transform: uppercase; text-align: center; padding: 10px; background: $main-bg-color; color: white;
                        width: 20%;
                    }
                    p { display: table-cell; }
                }
            }
        }
    }
    .social-links {
        background: #172227;
        .wrapper {
            overflow: auto; padding: 30px 0;
            span { color: #c4c4c4; font-size: 13px; line-height: 2.5; }
            ul { 
                float: right; 
                li { 
                    @include transition();
                    display: inline-block; margin-left: 10px; background: #2c3b42; color: white; font-size: 17px; text-align: center;
                    border-radius: 50px;
                    a { width: 32px; height: 32px; display: inline-block; line-height: 2; }
                    &:hover { 
                        &:nth-child(1) { background: #53a4ea; } /*twitter color*/
                        &:nth-child(2) { background: #3c5899; } /*facebook color*/
                        &:nth-child(3) { background: #0073b6; } /*linkedin color*/ 
                    }
                }
                
            }
        }
    }
}