
nav {
    text-align: right; color: white;  z-index: 100; position: fixed; left: 0; right: 0;
    .content-header { border-bottom: 1px solid #7c7c7c; }
    .logo { 
        float: left; font-family: 'Pacifico'; font-size: toem(30px); line-height: 2.9;
        &:hover { color: #71b6d5; }
    }
    ul, li { display: inline-block; }
    li:hover { color: #71b6d5; }
    .menu-desktop a { margin: 0 toem(20px); line-height: 6; font-size: toem(14.5px); }

    .menu-mobile {
        height: 200%; position: fixed; z-index: 10; width: 70%; background: rgba(24,24,26,0.90);
        transition: all .4s ease;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &.hidden { 
            transform: translate3d(-100%, 0, 0);
            opacity: 0;
        }
    }

    .bt-menu { 
        width: 25px; cursor: pointer; z-index: 101; position: absolute; top: 20px; left: 25px;
        transition: all .3s ease; display: none;
        div	{
            transition: all .3s ease;
            height: 2px; background: white; margin-bottom: 5px;
            &:last-child { margin: 0; }
        }
        &.active { 
            transform: rotate3d(0, 0, 1, 180deg);
            div {
                background: $main-bg-color;
                &:nth-child(1){ transform: rotate3d(0, 0, 1, 31deg) translate3d(0, 3px, 0); margin-left: 10px; width: 18px; }
                &:nth-child(3){ transform: rotate3d(0, 0, 1, -31deg) translate3d(0, -3px, 0); margin-left: 10px; width: 18px; }
            }
        }
    }
    .nav-bar-menu { 
        list-style-type:none; width: 100%; text-align: center; text-transform: uppercase;
        margin-top: 20%;
        li {
            display: block; 
            a {
                display:block; color:#EAEAEA; padding: 15px 20px; position:relative; box-shadow: 0px -10px 7px -7px rgba(253, 202, 46, 0) inset;
                transition: all .3s ease-in .1s;
                &:before {
                    transition: all .3s ease-in;
                    content:""; display:block; position:absolute; left:50%; bottom:0; 
                    height:1px; width:0; background: $main-bg-color;
                }

                &:hover {
                    color: $main-bg-color; box-shadow: 0px -9px 7px -7px $main-bg-color  inset;
                    &:before {
                        width:100%; left:0; color: $main-bg-color
                    }
                }

                &.active {
                    color: $main-bg-color; font-weight: 600; box-shadow: 0px -9px 7px -7px $main-bg-color inset;
                    &:before {
                        width:100%; left:0; color: $main-bg-color
                    }
                } 
            }
        }
    }
}
header {
        position: fixed;
    width: 100%;
    .bg-header {
        @extend .fixed-element; z-index: -1;     height: 1500px;
        background: url('../img/header-bg.png'); background-repeat: no-repeat; 
        margin: 0 auto; width: 1500px;
    }
     .header-slide {
            position: relative; height: toem(365px); top: toem(97px);
        i {    
            transform: scale3d(1 ,1 ,1); @include transition(); cursor: pointer;
            color: white; font-size: toem(40px); position: absolute; left: -50px; top: 45%;

            &:last-of-type { right: -50px; left: inherit; }
            &:hover { transform: scale3d(1.1 ,1.1 ,1.1); color: #71b6d5; }
        } 
        .change-info-slide { 
            height: 100%;
            font-weight: bold; color: white; text-transform: inherit; text-align: center; position: relative;
            .mask-container { height: 100%; }
            .vertical-center-content { 
                @include vertical-align();
                h1 { font-size: toem(40px); font-weight: bold; color: white; text-transform: inherit; text-align: center; }
                h2 { font-size: toem(25px); font-weight: 100; color: white; text-transform: inherit; text-align: center; line-height: 1; }
            }
            .button-show-more { 
                @include h-al-center(); bottom: 0;
                @include transition();
                padding: 15px 20px; font-size: toem(17px); text-transform: uppercase; color: white; background: #71b6d5;
                border: none; border-radius: 5px; font-weight: 600; cursor: pointer; line-height: 1; 
                &:hover { background: rgba(113, 182, 213, 0.61); box-shadow: 0 0 0 3px #71b6d5 inset; }
            }
        }
        .points-slide {
            text-align: center; margin-top: toem(40px);
           li { 
                width: 7px; height: 7px; background: white; border-radius: 10px; display: inline-block; margin-left: 30px; cursor: pointer;
                &:first-of-type { margin: 0; }
                &.active {
                    cursor: default;
                    &:before {
                        content: ''; border: 2px solid white; display: block; width: 25px; height: 25px; border-radius: 50%; position: relative; top: -9px; left: -9px;
                    }
               }
            } 
        }
     }
}
