main {
    overflow: auto;
    &.main-section { background: white; }
    .first-par { 
        padding-top: 90px; padding-bottom: 65px; text-align: center; line-height: 1.5;
        font-size: toem(18px);
    }
 }

.our-info{
    padding-top: 35px; overflow: auto;

    .block-info {
        @include transition();
        @include column(1/3); cursor: pointer;
        text-align: center; border: 1px solid #e1e1e1; border-radius: 5px; position: relative;
        box-shadow: 0 16px 0 white inset;
        .block-info-img {
            height: 129px; border-radius: 5px 5px 0 0; border: 0 solid white;
            @include mask-img();
            @include transition();
            &:after { border: 0 solid #71b6d5; border-bottom: 0; @include transition(); content: ''; display: block; height: 100%; width: 100%; position: absolute; top: 0;}
            &:before { @include transition(); transform: scale3d(1, 1, 1); }
            &.block-info-img-one:before { background: url('../img/our-info-1.png') 0 -57px; }
            &.block-info-img-two:before { background: url('../img/our-info-2.png') 0 -88px; } 
            &.block-info-img-three:before { background: url('../img/our-info-3.png') 0 -32px; }
        }
        &:hover {
            box-shadow: 0 0 0 10px #71b6d5 inset;
            .block-info-img {
                &:after { border: 10px solid #71b6d5; border-bottom: 0; }
                &:before { transform: scale3d(1.1, 1.1, 1.1) }
            }
            
            .circle { 
                background: white; border: 10px solid $main-bg-color; 
                [class*="icon"] { color: $main-bg-color; }
            }
        }

        .circle { 
            background: $main-bg-color; border: 10px solid white; border-radius: 50px; width: 74px; height: 74px; position: absolute; top: -37px;
                    left: 0; right: 0; margin: 0 auto; z-index: 10; margin-top: 1px;
                    @include transition();
                        [class*="icon"] { 
                            text-align: center; line-height: 2.5; color: white; font-size: toem(20px); position: relative;
                            right: 1px; top: 1px;
                            @include transition();
                            &.change-ico { right: 0px; font-size: toem(22px); line-height: 2.4;}
                        }
                    }

        h3 { text-transform: capitalize; margin-top: 30px; margin-bottom: 15px; padding: 0 15px; font-size: toem(20px); font-weight: 700; }
        p { margin-bottom: 30px; padding: 0 15px; font-size: toem(13.5px); }
    }
}

.devices-section, {
        display: table;
    .img-devices { background: url("../img/devices.png") no-repeat; width: 312px; height: 253px; display: table-cell; }
    .img-cameras { background: url("../img/cameras.png") no-repeat; width: 315px; height: 189px; display: table-cell; }
    .block-info-section { 
        display: table-cell; padding-left: 38px;
        .title-block-devices { margin: 20px 0; font-size: toem(20px); font-weight:  600; }
        .par-block-devices { margin-bottom: 25px; font-size: toem(13.5px); line-height: 20px; }
        &.right-img { padding: 0; padding-right: 38px;  }
     }
}

.cameras-section { 
    @extend .devices-section;
    margin-top: 90px; padding-bottom: 15px;
    .block-info-section { 
        padding: 0; padding-right: 38px;
        .title-block-devices { margin-top: 0; }
     }
}

.last-project-section {
    text-align: center; overflow: hidden; cursor: pointer;
    .sub-title-section { margin-bottom: 5px; }
    .container-last-project {
        @include column(1/4);
            h1 { font-size: toem(18px); font-weight: 600; margin-top: 20px; text-transform: capitalize;  }
            h2 { font-size: toem(13.5px); }
            &:hover {
                [class*='last-project-']:before { transform: scale3d(1.1, 1.1, 1.1); box-shadow: 0 0 0 20px #484848 inset;  }
            }
            .content-block-slide { max-width: 237px; }
    }

    [class*='last-project-'] { 
        height: 237px; 
        @include mask-img();
        &:before { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset; transform: scale3d(1, 1, 1); @include transition(); }
    }

    @for $i from 1 through 4 {
        .last-project-#{$i}-img:before {
            background: url('../img/last-project-#{$i}.jpg') 0 237px;
        }
    }
}

.middle-line.commenting { margin-top: 84px; margin-bottom: 25px; clear: both; }
.testimonials-title { margin-bottom: 0; }
.testimonials-slider {
    margin-bottom: 65px;
    .testimonials-subpar { 
        text-align: center; line-height: 1.5; font-size: toem(18px); padding-top: 50px; margin-bottom: 50px;
        &:after { content: ''; border-bottom: 1px solid #e1e1e1; width: 20%; margin: 30px auto; display: block; }   
    }

    .testimonials-data { 
        text-align: center; font-weight: 600; font-size: toem(15px);
        #testimonialCompany { font-weight: 200; }
    }

    .action-slider {
        text-align: center; margin-top: 20px;
        li { 
            height: 10px; width: 10px; border-radius: 10px; background: #e1e1e1; display: inline-block; margin: 0 5px;
            &.active-slide { background: $main-bg-color; }
        }
    }

}