<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<div class="bg-header"></div>
		<nav class="wrapper">
			<a href="" class="logo no-ml">Webworld</a>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Portfolio</a></li>
				<li><a href="" class="no-mr">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main class="main-section">
		<wrapper>
			<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
				dummy text ever since type specimen book !!</h2>
			<section class="our-info">
				<div class="block-info">
					<div class="circle"></div>
					<div class="block-info-img block-info-img-one"></div>
					<h3>what we are</h3>
					<p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
				</div>
				<div class="block-info">
					<div class="circle"></div>
					<div class="block-info-img block-info-img-two"></div>
					<h3>start our project</h3>
					<p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
				</div>
				<div class="block-info">
					<div class="circle"></div>
					<div class="block-info-img block-info-img-three"></div>
					<h3>our team</h3>
					<p>Lorem Ipsum is simply dummy text the printing and typesetting.</p>
				</div>
			</section>

		</wrapper>
	</main>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
<footer>
</footer>

</html>