<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/styleIcons.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Pacifico" rel="stylesheet">
</head>

<body>
	<header>
		<div class="bg-header"></div>
		<nav class="wrapper">
			<a href="" class="logo no-ml">Webworld</a>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Portfolio</a></li>
				<li><a href="" class="no-mr">Contact</a></li>
			</ul>
		</nav>
		<section class="header-slide">
			<i class="icon-chevron-with-circle-left"></i>
			<div class="change-info-slide wrapper">
				<h1>A skilled team of Designers working just for you!</h1>
				<h2>Proin facilisis aliquam nunc quis varius. Pellentesque non mauris urna. </h2>
				<button type="button"></button>
			</div>
			<i class="icon-chevron-with-circle-right"></i>
		</section>
	</header>
	<main class="main-section scrollable">
		<wrapper>
			<section id="changeSection">
				<!--Cambio de info-->
			</section>
		</wrapper>
		<footer>
			<div class="grid-nav">
				<div class="wrapper">
					<section class="web">
						<h1>webworld</h1>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.</p>
					</section>
					<section class="contact">
						<h1>contact</h1>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in so</p>
						<ul class="list-links">
							<li><i class="icon-map-marker"></i> <span>New Delhi</span></li>
							<li><i class="icon-envelope"></i> <span>info@yourwebsite.com</span></li>
							<li><i class="icon-phone"></i> <span>890-09880-45590</span></li>
						</ul>
					</section>
					<section class="latest-tweets">
						<h1>latest tweets</h1>
						<div class="list-tweets">
							<i class="icon-twitter"></i> 
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy <span>1 Hour Ago</span></p>
						</div>
						<div class="list-tweets">
							<i class="icon-twitter"></i> 
							<p>Lorem Ipsum is simply dummy text of the printing and typeset<span>1 Hour Ago</span></p>
						</div>
					</section>
					<section class="news-latter">
						<h1>news letter</h1>
						<p>Type your email address below and recive our daily news letter for free</p>
						<form action="">
							<input type="text" name="sendName" value="" placeholder="Email Address">
							<!--<p>Type your email address below and recive our daily news letter for free</p>-->
							<input type="submit" value="go" >
							
							<!--<p>Type your email address below and recive our daily news letter for free</p>-->
						</form>
					</section>
				</div>
			</div>
				<section class="social-links">
					<div class="wrapper">
						<span>© 2013 All rights reserved.  Theme by cssauthor.com</span>
						<ul>
							<li><a href="" class="icon-twitter"></a></li>
							<li><a href="" class="icon-facebook"></a></li>
							<li><a href="" class="icon-linkedin"></a></li>
						</ul>
					</div>
				</section>
			</div>
		</footer>
	</main>
	<script type="text/javascript" src="/js/bundles/min/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>