<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<header>
			<img src="../img/header-bg.png" alt="" class="bg-header">
			<nav class="wrapper">
				<a href="" class="logo no-ml">Webworld</a>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Portfolio</a></li>
					<li><a href="" class="no-mr">Contact</a></li>
				</ul>
			</nav>
		</header>
		<main class="main-section">
			<wrapper>
				<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since type specimen book !!</h2>
			</wrapper>
		</main>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
	<footer>
	</footer>
</html>